<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CRToDo web interface beta</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8rc1.custom.css" media="screen" />
  <script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8rc1.custom.min.js"></script>
  <script type="text/javascript" src="js/crtodo.js"></script>
</head>
<body>
  <div id="header">
    <h1>CRToDo web interface <i>beta</i></h1>
    <p class="icons">
      powered by <a href="http://jquery.com/">jQUery</a><br />
      <a href="http://axialis.com/free/icons">Icons</a> by <a href="http://axialis.com">Axialis Team</a>
    </p>
    <p>Not logged in</a>
  </div>
  <div id="main">
    <form action="login" method="post">
      <fieldset id="loginbox">
        <legend>Log in with</legend>
        <input type="radio" id="google" value="google" name="provider" />
        <label for="google"><img alt="Google" src="images/google.gif" /></label><br />

        <input type="radio" id="yahoo" value="yahoo" name="provider" />
        <label for="yahoo"><img alt="Yahoo!" src="images/yahoo.gif" /></label><br />

        <input type="submit" id="submit" name="continue" value="Continue" />
      </fieldset>
    </form>
  </div>
</body>
</html>